{% extends "iplookup/base.html" %}
{% load staticfiles %}

{% block content %}

<h1>{{ ip }}</h1>

<br>
<a href= "{% url 'iplookup:BlackListIndexView' ip %}">{% url 'iplookup:BlackListIndexView' ip %}</a>
<br><br>
<a href= "{% url 'iplookup:FcrdnsIndexView' ip %}">{% url 'iplookup:FcrdnsIndexView' ip %}</a>
<br><br>
<a href= "{% url 'iplookup:WhoisIndexView' ip %}">{% url 'iplookup:WhoisIndexView' ip %}</a>
<br><br>
<a href= "{% url 'iplookup:DmarcIndexView' ip %}">{% url 'iplookup:DmarcIndexView' ip %}</a>
<br><br>

{% endblock content %}
